body{
    background-color: #1E1B3A;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.container{
    min-height: 100vh;

}
.dice-container{
    background : linear-gradient(135deg, #3A0CA3, #867BE2, #7209B7);
    width: 650px;
    border-radius: 20px;
}

h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

.para {
  font-size: 18px;
  color: #f1f1f1;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Fade system */
.fade.show {
  opacity: 1;
}
.fade.hide {
  opacity: 0;
}


iframe {
  opacity: 0;
  transition: opacity 0.8s ease;
  border-radius: 10px;
  margin-top: 20px;
}

iframe.show {
  opacity: 1;
}