body{
    background-color: #1E1B3A;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
}
.container{
    min-height: 100vh;

}
.btn{
    border: 0px
}
.dice-container{
    background : linear-gradient(135deg, #3A0CA3, #867BE2, #7209B7);
    width: 90%;               
    max-width: 650px;        
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

.para {
  font-size: 18px;
  color: #f1f1f1;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Fade system */
.fade.show {
  opacity: 1;
}
.fade.hide {
  opacity: 0;
}


iframe {
  opacity: 0;
  transition: opacity 0.8s ease;
  border-radius: 10px;
  margin-top: 20px;
}

iframe.show {
  opacity: 1;
}
/* .size {
    width: 91px;
    margin-top: 79px; 
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; 
} */

/* When shown */
.size.show {
  opacity: 1;
  width: 100px;
}

/* Optional helper: centers image perfectly */
.dice-face-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
